// variabel

:root {
  --container-width: 130rem;
  --main-color: #f53838;
  --main-color-light: #ffecec;
  --text-color: #4f5665;
  --title-color: #0b132a;
  --color-light: #dde0e4;
  --color-with-gray-light: #dddddd;
  --color-whit-gray: #eeeff2;
  --color-yellow: #fea250;
  --color-black: #000;
  --color-white: #fff;
  --padding-13-45: 1.3rem 4.5rem;
  --padding-13-63: 1.3rem 6.3rem;
  --padding-17-77: 1.75rem 7.7rem;
  --padding-30: 3rem;
  --padding-37-0: 3.7rem 0rem;
  --padding-35-113: 3.5rem 13.3rem;
  --border-radius-10: 1rem;
  --border-radius-50: 5rem;
  --border-radius-70: 7rem;
  --btn-transform: 0.5s;
  --margin-100: 10rem;
  --margin-20: 2rem;
  --margin-50: 5rem;
  --margin-500: 5rem;
  --margin-1200: 12rem;
  --gap-10: 1rem;
  --gap-36: 3.6rem;
  --gap-170: 17rem;
  --box-shadow-big: 0px 2.9rem 3.5rem -2.1rem rgb(245 56 56 / 85%);
  --box-shadow-gray: 0px 3.9rem 3rem -1rem rgb(13 16 37 / 6%);
  --linen-height-30: 3rem;
  --linen-height-45: 4.5rem;
  --linen-height-50: 5rem;
  --linen-height-70: 7rem;
  --font-size-14: 1.4rem;
  --font-size-16: 1.6rem;
  --font-size-18: 1.8rem;
  --font-size-20: 2rem;
  --font-size-25: 2.5rem;
  --font-size-30: 3rem;
  --font-size-35: 3.5rem;
  --font-size-50: 5rem;
  --font-weight-500: 500;
  --font-weight-700: 700;
}
